<div class="signup" ng-controller="SignupCtrl">

<!-- TODO: fix responsiveness of form fields for smaller screens -->

<div class="header">  <h2>THE SIGNING UP PART</h2>
  <app-loader ng-show="loading"></app-loader>
  <nl-alert></nl-alert>
</div>

  <form ng-submit="signup()">
  <div class="email input-group input-group-lg">
    <span class="input-group-addon">@</span>
    <input class="form-control" type="text" ng-model="email" placeholder="Email Address">
  </div>

  <div class="username input-group input-group-lg">
    <span class="input-group-addon"><fa name="gamepad"></fa></span>
    <input type="text" ng-model="username" class="form-control" placeholder="Username">
</div>

  <span class="micro">(P.S. You can change this whenever. Don't stress.)</span>

    <div class="password input-group input-group-lg">
      <span class="input-group-addon"><fa name="unlock-alt"></fa></span>
      <input type="password" ng-model="password" class="form-control" placeholder="Password">
    </div>
  </form>

  <!-- TODO: move signup button outside of form so that clicking anywhere outside of form closes modal -->
  <!-- Even though it's located outside of the form, it's still not right yet -->

  <div class="signup-btn">
    <button class="btn btn-default" ng-click="signup()">Sign Me Up!</button>
  </div>


</div>
