.login {
  position: absolute;
  margin-left: 27%;
  margin-right: 25%;
  .header {
    text-align: center;
  }

  .email {
    margin-top: 30%;
    .form-control {
      @include smallest() {
        font-size: 1.3rem;
      }
    }
  }

  .password {
    margin-top: 10%;
    .form-control {
      @include smallest() {
        font-size: 1.3rem;
      }
    }
  }

  .play {
    @include blackButton();
    text-align: center;
    margin-top: 15%;

    button {
      width: 15rem;
      height: 7rem;
    }

  }

}