// Variables
$font-stack: "Roboto", sans-serif;
$bpWidth: 740px;
$bp2Width: 455px;
$bpHeight: 640px;
$fgColor: #f0f0f0;
$bgColor: #101010;

// Mixins

@mixin blackButton() {


  button {
    color: $fgColor;
    font-weight: 300;
    outline: none;

    font-size: 100%;
    background-color: $bgColor;

    &:hover {
      background-color: $fgColor;
      color: $bgColor;
    }

  }

}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin smaller() {

  @media (max-width: $bpWidth) {
    @content;
  }

  @media (max-height: $bpHeight) {
    @content;
  }

}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 20px/150% $font-stack;
  color: $fgColor;
  background-color: $bgColor;
}

input,
textarea,
button {
  font: inherit;
}


@import "states/landing/landing";
@import "states/auth/signup/_signup";
@import "states/auth/login/_login";



